@model DogFinder.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Manage Address:</dt>
        <dd>
            @if (Model.HasAddress)
            {
                @Html.ActionLink("Change your address", "Edit", "UserAddresses", new { id = Model.AddressID},null)
            }
            else
            {
                 @Html.ActionLink("[ Add an address ]", "Create","UserAddresses",null,null) 
            }
        </dd>
        @if (Model.HasAddress)
        {
            <dt>My Address:</dt>
            <dd>
                @Model.Address
            </dd>
        }
       
    </dl>
</div>
