@model DogFinder.Dog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavFood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavFood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogStatu.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogStatu.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogSize.SizeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogSize.SizeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogType.TypeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
